.SideBar{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
 
}

.SideBar .title{
  height: 68px;
  width: 220px;

  background-image: linear-gradient( to top, #FFB354, #EE7A3A );

  display: flex;
  align-items: center;
  justify-content: baseline;
}

.SideBar .title span{
  text-align: center;
  flex-grow: 1  ;

  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.SideBar .menu .img{
  padding: 5px;
  height: 258px;
}

.SideBar .menu ul{
  list-style: none;
  margin: 0;
  padding: 0px;
  


}

.SideBar .menu ul li{
  border-bottom: 1px solid #cccccc;
}

.SideBar .menu ul li:last-child{
  border-bottom: none;
}

.SideBar .menu ul li a{
  text-decoration: none;
  color: #725C5C;

  position: relative;

  cursor: pointer;

  padding: 15px;
  

  font-family: 'Quicksand';
  font-size: 15px;
  line-height: 19px;
  font-weight: 500;
  line-height: 18,5px;

  transition: 0.5s;

  display: flex;
  flex: 1;
}

.SideBar .menu ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 6px solid  #FFB455 ;
  transform: scaleX(1.5);
  opacity: 0;
  transition: .5s;
}

.SideBar .menu ul li a:hover:before{
  transform: scaleX(1);
  opacity: 1;
}

.SideBar .menu ul li a:hover{
  background-color:#FDF1EB ;
}

