.header{
  grid-area: header;
}

.sideBar{
  grid-area: sideBar;
}

.main{
  grid-area: main;
}


.footer{
  grid-area: footer;
}

.App{
  display: grid;
  height: 100vh;
  grid-template-columns:  220px 1fr;
  grid-template-rows: 68px 3fr 181px;
  grid-template-areas: 
    'sideBar header'
    'sideBar main'
    'sideBar footer'
  ;
}